body {
	background-color: #ffd819;
}

.wolf-header {
	max-width: 55px;
	position: absolute;
	top: 40px;
	left: -30px;
}

.intro-container {
	margin-left: 20px;
	margin-right: 20px;
	height: 500px;
	display: block;
	margin-top: 20px;
	border: solid;
	border-width: 5px;
	position: relative;
	box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

h1 {
	position: absolute;
	bottom: 70px;
	left: 25px;
	font-size: 45px;
	font-family: 'Arvo', serif;
	padding-right: 20px;
}

.body-container {
	margin-left: 20px;
	margin-right: 20px;
}

.home-block {
	width: 40%;
	border-left: solid 5px;
	border-bottom: solid 5px;
	height: 50px;
	box-sizing: border-box;
	float:left;
}

.decorative-block {
	width: 40%;
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
	border-left: solid 5px;
	border-bottom: solid 2.5px;
	height: 50px;
	box-sizing: border-box;
	float:left;
}

.contact-block {
	background-color: black;
	height: 50px;
	box-sizing: border-box;
	float: left;
	width: 60%
}

.both {
}

.blog-link {
	text-decoration: none;
}

.blog-block {
	text-decoration: none;
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-top: solid 2.5px black;
	border-bottom: solid 2.5px black;
	box-sizing: border-box;
	height: 80px;
	position: relative;
}

.blog-container:last-child {
	border-bottom: solid 5px black;
}

h2 {
	font-size: 55px;
	color: black;
	line-height: 1px;
	margin-left: 15px;
	font-family: 'Arvo', serif;
}

h4 {
	margin-left: 120px;
	font-size: 20px;
	color: black;
	font-family: Helvetica, Arial;
	position: absolute;
	top: 18px;
}

footer {
	margin-top: 75px;
	position: relative;
	margin-bottom: 30px;
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0;
	height: 80px;
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
}

.footer-icon {
 font-size: 40px;
}

.icon-container {
	background-color: #ffd819;
	position: absolute;
	right:-20px;
	bottom: 18px;
	border-radius: 2px;
}

p, li {
	line-height: 155%;
	max-width: 40em;
	margin-top: 0;
	font-family: Helvetica, Arial;
	box-sizing: border-box;
}

.paragraph-container {
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	margin-top: 0;
	padding-top: 40px;
	padding-bottom:40px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
}

.w3-content {
	margin-left: 10px;
	margin-right: 10px;
	position:relative;
	border-bottom: solid 5px black;
	border-left: solid 5px black;
	border-right: solid 5px black;
	box-sizing: border-box;
}

.mySlides {
	width: 100%;
}

.w3-btn-floating {
	font-size: 50px;
	position:absolute;
	top:45%;
	left: 0;
	right: 0;
}

.blog-navigation {
	color: #ffd819;
	margin-top: 0;
	font-family: 'Arvo', serif;
}

.home-button {
	font-size: 20px;
	margin-top: 0;
	text-align: center;
	display: block;
	line-height: 50px;
	font-family: 'Arvo', serif;
	text-decoration: none;
	color: black;
	line-height: 50px;
}

.blog-heading {
	font-family: Helvetica, Arial;
	font-size: 20px;
}

.list {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.left-arrow {
	color: #ffd819;
	font-size: 40px;
	position: absolute;
	left: 270px;
	padding-top: 5px;
}

.right-arrow {
	color:#ffd819;
	font-size: 40px;
	position: absolute;
	right: 50px;
	padding-top: 5px;
}

.email-icon {
	color: #ffd819;
	margin-top: 0;
	font-size: 40px;
	position:absolute;
	right: 60px;
	line-height: 50px;
}
