html, body {
	margin: 0px;
	padding: 0px;
}

.image-container-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 17px;
}

.image-container-row-2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 50px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;

}

h1 {
	font-size: 80px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;;
	color: #fff;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.15), 1px 1px 0px rgba(0,0,0,0.3);
}

.smaller-image {
	width :100%;
	display: block;
	margin-bottom: 10px;
}

.header-container {
	width: 100%;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 75px;
	margin-bottom: 50px;
	background-position: center;
	min-height: 350px;
}

.santiago {
		background-image: url("../santiago.jpg");
}


.button {
	text-decoration: none;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	border: solid;
	color: white;
	display: inline-block;
	padding: 0 20px;
	padding-top: 2px; 	/*makes button even */
	line-height: 220%;
	margin: 20px 8px 24px 8px;
	transition: 0.2s all ease-in-out;
}

.button:hover {
	background-color: #ff6666;
}

.navigation {
	float:right;
	margin-right: 10px;
}

.image-container {
	border: 2px solid #669999;
	width: 49%;
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	display: block;
	text-decoration: none;
	float: left;
	transition: 02s all ease-in-out;
	position: relative;
}

.image-container:hover {
	top: -5px;

}

.image-container:first-child {
  margin-right:2%;
}

.image-container-2 {
	border: 2px solid #669999;
	width: 32%;
	box-sizing: border-box;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	display: block;
	text-decoration: none;
	float: left;
	transition: 02s all ease-in-out;
	position: relative;
}

.image-container-2:hover {
	top: -5px;

}

.image-container-2:first-child {
  margin-right:2%;
}

.image-container-2:nth-child(2) {
  margin-right:2%;
}

.blog-button {
	font-family: 'Raleway', sans-serif;
	color: #ff6666;
	font-weight: bold;
	font-size: 20px;
	display: block;
}

.homepage-text {
	font-family: 'Raleway', sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	text-align: center;
}

.social-media {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
}

.social-button {
	color: #ff6666;
	font-size: 32px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	min-width: 32px;
}

.reflection {
	background-image: url("../rocket.jpg");
}

.time {
	background-image: url("../employee-retention.jpg");
}

.html {
	background-image: url("../spreadsheets.jpg");
}

.html-p2 {
	background-image: url("../toolkit.jpg");
}

.emotional-intelligence {
	background-image: url("../emotional-intelligence.jpg");
}


p, li {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #555;
	max-width: 35em;
	line-height: 140%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	weight: bold;
	color: #555;
	max-width: 35em;
	line-height: 140%;
	margin-left: auto;
	margin-right: auto;
}

.list {
	font-family: 'Raleway', sans-serif;
	color: #ff6666;
	text-decoration: none;
}

@media (max-width: 540px) {
	.blog-button {
		font-size: 12px;
	}
}

.flex {
	display: flex;
}
