body {
	background-color: #ffd819;
	margin: 25px;
}

.wolf-header {
	position: absolute;
	top: 40px;
	left: -25px;
	display: block;
	width: 46px;
	height: 49px;
	text-indent: -100%;
	overflow: hidden;
	background-color: #ffd819;
	background-image: url("../wolves.png");
	background-position: 0 0;
	background-size: 92px 49px;
}

.wolf-header:hover {
	background-position: 46px 0;
	background-color: transparent;
}

.intro-container {
	height: 500px;
	display: block;
	margin-top: 20px;
	border: solid;
	border-width: 5px;
	position: relative;
	box-sizing: border-box;
}

.clearfix::after {
	content:"";
	display: table;
	clear: both;
}

.blog-heading {
		max-width: 30em;
}

h1 {
	position: absolute;
	bottom: 70px;
	left: 25px;
	font-size: 45px;
	font-family: 'Arvo', serif;
	padding-right: 20px;
	max-width: 75%;
}

.body-container {
}

.decorative-block {
	width: 40%;
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
	height: 50px;
	box-sizing: border-box;
	float:left;
}

.contact-block {
	height: 50px;
	box-sizing: border-box;
	float: left;
	width: 50%;
	background-image: url("../lines2.png");
  background-size: 25px;
	position: relative;
}

#cb {
	width: 60%;
}

.both {
	border: solid 5px black;
	border-top: none;
}

.blog-block {
	text-decoration: none;
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-top: solid 2.5px black;
	border-bottom: solid 2.5px black;
	box-sizing: border-box;
	position: relative;
	display: block;
	color: black;
}

.blog-block:last-child {
	border-bottom: solid 5px black;
}

.blog-block:first-child {
	border-top: none;
}

.blog-block:hover {
	background-color: black;
	color: #ffd819;

}

h2 {
	font-size: 55px;
	font-family: 'Arvo', serif;
}

.blog-block h2 {
	display: inline-block;
	margin: 0;
	line-height: 90px;
	width: 80px;
	padding: 0 15px;
}

h4 {
	font-size: 20px;
	font-family: Helvetica, Arial;
}

.blog-block h4 {
	display: inline-block;
	margin: 0;
	padding-left: 10px;
}

footer {
	position: relative;
	margin-bottom: 30px;
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	margin-top: 0;
	height: 80px;
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
}

.footer-icon {
 font-size: 40px;
}

.icon-container {
	background-color: #ffd819;
	position: absolute;
	right:-20px;
	bottom: 18px;
	border-radius: 2px;
}

p, li {
	line-height: 155%;
	max-width: 35em;
	margin-top: 0;
	font-family: Helvetica, Arial;
	box-sizing: border-box;
}

.paragraph-container {
	border-left: solid 5px black;
	border-right: solid 5px black;
	border-bottom: solid 5px black;
	margin-top: 0;
	padding-top: 40px;
	padding-bottom:40px;
	padding-left: 40px;
	padding-right: 40px;
	box-sizing: border-box;
	background-color: #ffd819;
}

.w3-content {
	position: relative;
	border-bottom: solid 5px black;
	border-left: solid 5px black;
	border-right: solid 5px black;
	box-sizing: border-box;
}

.mySlides {
	width: 100%;
	position: relative;
}

.mySlides img {
	width: 100%;
	display: block;
}

.w3-btn-floating {
	font-size: 40px;
	position:absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 40px;
	text-align: center;
	padding: 10px;
	background-color: #ffd819;
	color: black;
	border: solid 4px black;
	border-bottom: none;
}

.w3-btn-floating:hover {
	background-color: black;
	color: #ffd819;
}

.btn-previous {
	right: 65px;
	border-right: none;
}

.btn-next {
	border-right: none;
}

.blog-navigation {
	color: #ffd819;
	margin-top: 0;
	font-family: 'Arvo', serif;
}

.home-button {
	font-size: 20px;
	margin-top: 0;
	text-align: center;
	display: block;
	line-height: 50px;
	font-family: 'Arvo', serif;
	text-decoration: none;
	color: black;
	line-height: 50px;
	width: 50%;
	height: 50px;
	box-sizing: border-box;
	float:left;
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
}

.blog-heading {
	font-family: Helvetica, Arial;
	font-size: 20px;
}

.list {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.left-arrow {
	border-right: 1px solid #ffd819;
}

.right-arrow {
	border-left: 1px solid #ffd819;
}

.arrow {
	color: #ffd819;
	background-color: black;
	font-size: 40px;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	width: 50%;
	text-align: center;
	box-sizing: border-box;
}

.arrow:hover {
background: transparent;
color: black;
}

.email-icon {
	color: #ffd819;
	margin-top: 0;
	font-size: 50px;
	position:absolute;
	right: 0;
	line-height: 50px;
	background-color: black;
	width: 100%;
	display: block;
	box-sizing: border-box;
	text-align: right;
	padding-right: 25px;
}

.menu-block {
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	border-left: solid 5px black;
	margin-left: 20px;
	display: none;
}

.menu-button {
	text-decoration: none;
	color: black;
	font-family: Helvetica, Arial;
	font-size: 18px;
	font-weight: bold;
	display: none;
	vertical-align: middle;
	padding: 15px;
	position: relative;
}

.menu-button:first-child {
	margin-top: 5px;
}


h1 {
	max-width: 16em;
}

#pict3 {
	background-image: url("../lines2.png");
	background-repeat: repeat;
	background-size: 25px;
}

.caption {
	font-size: 14px;
	font-family: Helvetica, Arial;
	background-color: #ffd819;
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 60%;
	padding: 2px;
	box-sizing: border-box;
	border: solid 4px black;
	border-bottom: none;
	border-left: none;
}

@media (min-width: 1000px) {
	#pict3 {
		border: solid 5px black;
		border-top: none;
		border-bottom: none;
	}
	#pict3::after {
		content:"";
		display: table;
		clear: both;
	}
	#pct3 {
		float: left;
		width:50%;
		border: none;
	}
	#pct3::after {
		content: "";
		display: table;
		clear: both;
	}
	#w3t3 {
		float: left;
		width: 50%;
		border-right: none;
	}
	#w3t3::after {
		content:"";
		display: table;
		clear: both;
	}
	.menu-button {
		display: block;
	}
	.menu-block {
		display: block;
	}
	.menu-button:hover:after {
		content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border: 10px solid #ffd819;
    bottom: 15px;
    right: -15px;
		z-index: 1;
	}
}

@media (min-width: 1200px) {
	body {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 650px) {
	.blog-block {
		display: inline-block;
		float: left;
		width: 50%;
		height: 250px;
		position: relative;
	}
	#sprint-one {
	}
	#sprint-one-2 {
		margin-top: 125px;
		border-top: solid 5px black;
		border-left: none;
		border-bottom: solid 5px black;
	}
	#sprint-two {
		margin-top: -125px;
	}
	#sprint-two-2 {
		border-left: none;
		border-bottom: solid 5px black;
		border-top: none;
	}
	#sprint-two-3 {
		margin-top: -125px;
	}
	#sprint-three {
		border-bottom: solid 5px black;
		border-left: none;
		border-top: none;
	}
	#sprint-three-2 {
		margin-top: -125px;
	}
	#sprint-four {
		border-top: none;
		border-left: none;
		border-bottom: solid 5px black;
	}
	#sprint-four-2 {
		border-bottom: none;
		margin-top: -125px;
	}
	#home-page {
		border-top: solid 5px black;
	}
	.blog-container::after {
		content: "";
		display: table;
		clear: both;
	}
	.blog-block h4 {
		font-size: 22px;
		font-family: Helvetica, Arial;
		padding-left: 15px;
	}
	.blog-block h2 {
		width: 100%;
	}
	.blog-block:nth-child(even)::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #ffd819;
    border: 4px solid black;
    bottom: -18px;
    left: -18px;
		z-index: 1;
  }
	.blog-block:nth-child(2)::before {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #ffd819;
    border: 4px solid black;
    top: -18px;
    left: -18px;
		z-index: 1;
  }
}

@media (max-width: 400px) {
	.blog-block h4 {
		font-size: 12px;
	}
	.blog-block h2 {
		font-size: 50px;
	}
	h1 {
		font-size: 30px;
	}
	p, li {
		font-size: 14px;
	}
	.paragraph-container {
		padding-right: 20px;
		padding-left: 20px;
	}
	.intro-container {
		height: 360px;
	}
}
